.resource-pan {
    width: 240px;
    background-color: #2c2c2c;
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* left panel 240 width #2c2c2c */
